.App {
    max-width: 800px;
    margin:0 auto;
  }
  
 

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
 .searchBar{
  display: flex;
  justify-content: center;
  width:400px;
  margin:0 auto;
 }
 .title{
  display: flex;
  justify-content: center;
 }
  .weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
  }

  .weather-icon {
    width: 250px;
    height: 250px;
    margin-bottom: 16px;
  }

  .weather-description {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .weather-details span {
    margin-bottom: 8px;
  }
  .weather-info{
    display: flex;
    justify-content: space-between;
    width:364px;
  }

  @media (max-width: 620px) {
    .weather-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 324px;
      height: 500px;
      margin: 0 auto;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-top: 50px;
    }
    .weather-icon {
      width: 201px;
      height: 205px;
      margin-bottom: 6px;
    }
    .weather-info{
     
      width:310px;
    }
    .title{
      font-size: small;
    }
    .searchBar{
      display: flex;
      justify-content: center;
      width:350px;
      margin:0 auto;
     }
  }